x-system-version: &system-version "2.0.0"

volumes:
  ib_data:

networks:
  ibkr-network:
    driver: bridge

services:
  ibkr-gateway:
    image: gnzsnz/ib-gateway:10.39.1d
    container_name: ibkr-gateway
    ports:
      - "127.0.0.1:4001:4003"
      - "127.0.0.1:4002:4004"
      - "0.0.0.0:5900:5900"
    environment:
      TWS_USERID: ${IB_USERNAME}
      TWS_PASSWORD: ${IB_PASSWORD}
      TWS_USERID_PAPER: ${IB_USERNAME}
      TWS_PASSWORD_PAPER: ${IB_PASSWORD}
      TWOFA_DEVICE: IB Key
      TRADING_MODE: ${TRADING_MODE:-paper}
      READ_ONLY_API: no
      BYPASS_WARNING: yes
      AUTO_RESTART_TIME: ${AUTO_RESTART_TIME:-10:00 PM}
      TWOFA_TIMEOUT_ACTION: restart
      RELOGIN_AFTER_TWOFA_TIMEOUT: yes
      VNC_SERVER_PASSWORD: ${VNC_PASSWORD:-password}
      TIME_ZONE: America/New_York
      TZ: America/New_York
      JAVA_HEAP_SIZE: 1024
    volumes:
      - ib_data:/home/ibgateway
      - /etc/localtime:/etc/localtime:ro
    networks:
      - ibkr-network
    restart: unless-stopped

  event-broker:
    build:
      context: .
      dockerfile: ./event-broker/Dockerfile
      args:
        VERSION: *system-version
    container_name: event-broker
    environment:
      LOG_LEVEL: ${LOG_LEVEL:-INFO}
      SERVICE_VERSION: *system-version
      REALTIME_API_KEY: ${REBALANCE_EVENT_SUBSCRIPTION_API_KEY}
      TRADING_MODE: ${TRADING_MODE:-paper}
      IB_HOST: ibkr-gateway
      ALLOCATIONS_BASE_URL: ${ALLOCATIONS_BASE_URL:-https://workers.fintech.zehnlabs.com/api/v1/strategies}
      ALLOCATIONS_API_KEY: ${ALLOCATIONS_API_KEY}
      USER_NOTIFICATIONS_ENABLED: ${USER_NOTIFICATIONS_ENABLED:-false}
      USER_NOTIFICATIONS_CHANNEL: ${USER_NOTIFICATIONS_CHANNEL}
      TZ: America/New_York
    volumes:
      - ./event-broker/logs:/app/logs
      - ./accounts.yaml:/app/accounts.yaml:ro
      - ./replacement-sets.yaml:/app/replacement-sets.yaml:ro
      - ./manual-rebalance:/app/manual-rebalance
      - /etc/localtime:/etc/localtime:ro
    networks:
      - ibkr-network
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "365"
    restart: unless-stopped